In [1]:
# Question 1
a=(5+4*9%(3+1)/6-1)
print(a)

4.0

In [2]:
# Question 2
if(int(input())==0):
    print("even number")
else:
    print("old number")

29
old number

In [3]:
# Question 3

num=int(input())
for num_table in range(1,11):
    table=num*num_table
    print(table)

3
3
6
9
12
15
18
21
24
27
30

In [5]:
# Question

num = input()
for num in range(2000,3200):
    if (num%7==0 and num%5 >0):
        print(num)

2000
2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [6]:
# Question 5

lst_1 = [2,3,'py','10','1','SQL',5.5,True,3,'John',None,7]
res = len(list(i for i in lst_1 if isinstance(i,bool)))
res_1 = len(list( i for i in lst_1 if isinstance(i,str)))
res_2 = len(list(i for i in lst_1 if isinstance(i,float)))
res_3 = len(list(i for i in lst_1 if isinstance(i,int)))
print(f"Number of boolean Values:{res}\n",
     f"Number of integer values:{res_3}\n",
     f"Number of String values:{res_1}\n",
     f"Number of float values:{res_2}\n")

Number of boolean Values:1
 Number of integer values:5
 Number of String values:5
 Number of float values:1

In [15]:
# Question 6
lst_1 = [2,3,'py','10',1,'SQL',5.5,True,3,'Jhon',None,7]
res =[x for x in lst_1 if type(x) ==int]
print(sum(res))

16

In [17]:
# Question 7

lst_1 = ['py','sql','Jhon']
str(lst_1)

str_concat ="-".join(lst_1)
print(str_concat)

py-sql-Jhon

In [26]:
# Question 8
lst_1 = [2,3,'py','10',1,'SQL',5.5,True,3,'Jhon',None,7]

def my_func(demo_dict):
    
    res_1 = sum([x for x in lst_1 if type(x)==int]) 
    res_2 = len([x for x in lst_1 if type(x)==str])
   
    demo_dict = {"sum":res_1,"count":res_2}
    
    return res_1,res_2

In [29]:
#8
demo_dict = {"sum":res_2,"concat":res_3}
print(demo_dict)

{'sum': 1, 'concat': 5}

In [33]:
# Question 9
list_1 = [5,7,22,97,54,62,77,23,73,61]

for items in list_1:
    if (items%2)>0:
        print(items)

5
7
97
77
23
73
61

In [37]:
# Question 9

list(filter( lambda l1:l1%2>0,list_1))

[5, 7, 97, 77, 23, 73, 61]

In [38]:
# Question 9
list_1 = [5,7,22,97,54,62,77,23,73,61]
list_comprehension = [items for items in list_1 if (items%2)>0]
list_comprehension

[5, 7, 97, 77, 23, 73, 61]

In [39]:
# Question 10

def unknown_input(*args):
    print(args)
    prod_val = 1
    sum_val = 0
    max_val = max(*args)
    min_val = min(*args)
    for i in args :
        sum_val = i+sum_val
        prod_val = i*prod_val
        mean_value = sum_val/i
    for index,value in enumerate(args):
        count_val = index+1
        
    return sum_val,prod_val,max_val,min_val,count_val

In [40]:
unknown_input(1,2,3,4,5,6,7,8,9,10,11)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

(66, 39916800, 11, 1, 11)

In [41]:
# Question 11
def dummy(**kwargs):
    for key,value in kwargs.items():
        print(key,value)
    print(kwargs)

In [42]:
i=int(input())
j=int(input())
r=int(input())
s2 = 3.14*r*r
s1=i*i
s3=2*i*j
dummy(square=int(s1),circle=float(s2),rectangle=int(s3))

12
3
4
square 144
circle 50.24
rectangle 72
{'square': 144, 'circle': 50.24, 'rectangle': 72}

In [45]:
# Question 12
l1 = ['January','February','March','May','June','Septmber','December']
l2 = ['January', 'February', 'March', 'April', 'June', 'October', 'December' ]

def func(l1,l2):
    l3=set(l1)
    l4=set(l2)
    l5=list(l3.intersection(l4))
    l6=list(l4.difference(l3))
    l7=list(l3.difference(l4))
    
    demo_dict = {
    "Matched" : l5,
    "only in l1" :l7,
    "only in l2":l6
     }
    
    print(demo_dict)

In [46]:
func(l1,l2)

{'Matched': ['March', 'June', 'December', 'January', 'February'], 'only in l1': ['Septmber', 'May'], 'only in l2': ['October', 'April']}

In [48]:
#Question 13

def prime_number(num_1):
    if(num_1 >=2):
        for i in range(2,num_1):
            if(num_1%i==0):
                return true
    else:
        return False 
    return False

In [49]:
prime_number(29)

False

In [54]:
# Question 14
s= input()
factorial =1
for i in range (1,int(s)+1):
    factorial = factorial *i
print(factorial)

8
40320

In [56]:
s=int(input())
a=range(1,s+1)
    
for v in range (1,s+1):
    result_1=list(map(lambda v:v,a))
print(result_1)

for v in range(1,s+1):
    result_2=list(map(lambda v:v*v,a))
print(result_2)

demo_dict={result_1[r]:result_2[r]for r in range(len(result_1))}
print(demo_dict)

8
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [57]:
#Question  16
s= input()
s1=s.split(",")
t1=tuple(s1)
l1=list(s1)
print(t1,l1)
t1
l1

34,67,55,33,14,96
('34', '67', '55', '33', '14', '96') ['34', '67', '55', '33', '14', '96']

['34', '67', '55', '33', '14', '96']

In [58]:
#Question 17
s=input()
words = [word for word in s.split(",")]
print(",".join(sorted(words)))

without,hello,bag,word
bag,hello,without,word

In [62]:
#Question 18
s= input()
word= s.split(" ")
print(" ".join (sorted(set(word))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [66]:
# Question 19
string_value =input()
count_1=0
count_2=0
for i in string_value:
    if (i.islower()):
        count_1 =count_1+1
    elif(i.isupper()):
        count_2 =count_2 + 1
print("Lowercase alphabet count is:",count_1)
print("Uppercase alphabet count is",count_2)

Hello World
Lowercase alphabet count is: 8
Uppercase alphabet count is 2

In [67]:
#Question 20
string = "abcd123"
str = ""
for i in string:
    str = i + str
print(str)

321dcba